.position{
    position: relative;
}

.position_name {
    position: absolute;
    top: 22px;
    left: 120px;
}

.position_img {
    position: absolute;
}

.position_text {
    position: absolute;
    top: 58px;
    left: 120px;
}

