.gifts{
    font-family: Gilroy, sans-serif;
}

.container_gift{
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 200px;
}

.header{
    text-align: center;

}

.header h2{
    margin-bottom: 23px;
    font-size: 32px;
    line-height: 1.18;
}

.header p {
    margin-bottom: 64px;
    font-size: 18px;
    line-height: 1.35;
}

.list_gift{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.gift_item h3{
    padding-top: 24px;
    padding-bottom: 74px;
    overflow: hidden;
}

.gift_text{
    padding: 24px;

}

.gift_item{
    background: #FAFAFA;
}

.main_item{
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* Параметры тени */

}